cuerpo {
  familia de fuentes : sans-serif;
  alineación de texto : centro;
}

formulario {
  pantalla : bloque en línea;
  alineación de texto : inicio;
}

p > etiqueta > * {
  pantalla : bloque;
}

mi-footer {
  pantalla : bloque;
  margen : 1 rem  0 ;
  tamaño de fuente : pequeño;
}
